stepfunctions/asl.json
{
  "Comment": "dynamicDynamoo",
  "StartAt": "ec2Counter",
  "States": {
    "ec2Counter": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxxx:function:ec2Counter-env-Counter",
      "Next": "ec2_number_status_change?"
    },
    "ec2_number_status_change?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ec2_num_status",
          "StringEquals": "increased",
          "Next": "capacityScaler"
        },
        {
          "Variable": "$.ec2_num_status",
          "StringEquals": "decreased",
          "Next": "capacityScaler"
        },
        {
          "Variable": "$.ec2_num_status",
          "StringEquals": "unchanged",
          "Next": "Do_Nothing"
        }
      ],
      "Default": "Do_Nothing"
    },
    "capacityScaler": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxxx:function:capacityScaler-dev-Scaler",
      "End": true
    },
    "Do_Nothing": {
      "Type": "Pass",
      "End": true
    }
  }
}
